<form {{ action "create" this on="submit"}}>
  <div class="row">
    <div class="form-group">
      <label class= "col-sm-3 control-label">Exercise</label>
      <div class="col-sm-9">
        {{view Ember.Select content=exercises value=selectedExercise optionValuePath="content" optionLabelPath='content.name' class="form-control" prompt="Please select an exercise"}}
      </div>
    </div>
  </div>
  <br />
  <div class="row activity-edit">
    {{#if useReps}}
    <div class="form-group">
      <label class= "col-sm-3 control-label">Reps</label>
      <div class="col-sm-9">
        {{input value=reps name="Reps" classNames="form-control" placeholder=selectedExercise.measurement}}
        {{#if errors.reps}}<span class="help-block">{{errors.reps}}</span>{{/if}}
      </div>
    </div>
    {{/if}}
    {{#if errors.reps}}<span class="help-block">{{errors.reps}}</span>{{/if}}

    {{#if useDistance}}
    <div class="form-group">
      <label class= "col-sm-3 control-label">Distance</label>
      <div class="col-sm-9">
        {{input value=distance name="Distance" classNames="form-control" placeholder=selectedExercise.measurement}}
      </div>
    </div>
    {{/if}}

    {{#if useDuration}}
    <div class="form-group">
      <label class= "col-sm-3 control-label">Duration</label>
      <div class="col-sm-9">
        {{input value=duration name="Duration" classNames="form-control" placeholder=selectedExercise.measurement}}
      </div>
    </div>
    {{/if}}

    {{#if useCalories}}
    <div class="form-group">
      <label class= "col-sm-3 control-label">Calories</label>
      <div class="col-sm-9">
        {{input value=calories name="Calories" classNames="form-control" placeholder=selectedExercise.measurement}}
      </div>
    </div>
    {{/if}}

    {{#if useWeight}}
    <div class="form-group">
      <label class= "col-sm-3 control-label">Weight</label>
      <div class="col-sm-9">
        {{input value=weight name="Weight" classNames="form-control" placeholder=selectedExercise.measurement}}
      </div>
    </div>
    {{/if}}

    {{#if canSave}}
    <div class="clearfix"></div>
    <br />
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button class="btn btn-success btn-block">Save</button>
      </div>
    </div>
    {{/if}}
  </div>
</form>


