<form {{ action "create" this on="submit"}}>
  <div class="row">
    <div class="form-group">
      <label class= "col-sm-3 control-label">Exercise</label>
      <div class="col-sm-9">
        {{view Ember.Select content=exercises name="Exercise Select" value=selectedExercise optionValuePath="content" optionLabelPath='content.name' class="form-control" prompt="Please select an exercise"}}
      </div>
    </div>
  </div>
  <br />
  <div class="row activity-edit">
    {{!-- Change to value if ever used --}}
    {{#if useReps}}
    <div {{bind-attr class=":form-group errors.reps:has-error:"}}>
      <label class= "col-sm-3 control-label">Reps</label>
      <div class="col-sm-9">
        {{input value=reps name="Reps" classNames="form-control" placeholder=selectedExercise.measurement}}
        {{#if errors.reps}}<span class="help-block">{{errors.reps}}</span>{{/if}}
      </div>
    </div>
    {{/if}}

    {{#if canSave}}
    <div class="clearfix"></div>
    <br />
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button class="btn btn-success btn-block">Save</button>
      </div>
    </div>
    {{/if}}
  </div>
</form>


