<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Competition Settings</h3>
  </div>
  <div class="panel-body">
    <form {{action 'create' this on='submit'}}>
      <div class="row">
        <div {{bind-attr class=":form-group errors.name:has-error:"}}>
          <label class= "col-sm-4 control-label">Name</label>
          <div class="col-sm-8">
            {{input value=this.model.name classNames="form-control" name="Name"}}
            {{#if errors.name}}
              {{#each errors.name}}
                <span class="help-block">Name {{this.message}}</span>
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div {{bind-attr class=":form-group errors.competitionWinCondition:has-error:"}}>
          <label class= "col-sm-4 control-label">Win Condition</label>
          <div class="col-sm-8">
            {{view Ember.Select 
              name="Win Condition Select"
              content=winConditions  
              value=selectedWinCondition 
              optionValuePath="content" 
              optionLabelPath='content.name' 
              class="form-control" 
              prompt="Please select a win condition"}}
            {{#if errors.competitionWinCondition}}
              {{#each errors.competitionWinCondition}}
                <span class="help-block">Win condition {{this.message}}</span>
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div {{bind-attr class=":form-group errors.startDate:has-error:"}}>
          <label class= "col-sm-4 control-label">Start Date</label>
          <div class="col-sm-8">
            {{view WorkoutWars.DateField value=startDate classNames="form-control" name="Start Date"}}
            {{#if errors.startDate}}
              {{#each errors.startDate}}
                <span class="help-block">Start date {{this.message}}</span>
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div {{bind-attr class=":form-group errors.endDate:has-error:"}}>
          <label class= "col-sm-4 control-label">End Date</label>
          <div class="col-sm-8">
            {{view WorkoutWars.DateField value=endDate classNames="form-control" name="End Date"}}
            {{#if errors.endDate}}
              {{#each errors.endDate}}
                <span class="help-block">Start date {{this.message}}</span>
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="form-group">
          <label class= "col-sm-4 control-label">Max Participants</label>
          <div class="col-sm-8">
            {{input value=this.model.maxParticipants classNames="form-control" name="Max Participants"}}
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="form-group">
          <label class= "col-sm-4 control-label">Description</label>
          <div class="col-sm-8">
            {{view Ember.TextArea value=this.model.description classNames="form-control" name="Description"}}
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="form-group">
          <label class= "col-sm-4 control-label">Private</label>
          <div class="col-sm-8">
            {{view Ember.Checkbox checkedBinding="isPrivate"}}
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button class="btn btn-success btn-block">Save</button>
          </div>      
        </div>
      </div>
    </form>
  </div>
</div>
