<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Competition Settings</h3>
      </div>
      <div class="panel-body">
        <label class= "control-label">Select a Win Condition</label>
        {{view Ember.Select 
              name="Win Condition Select"
              content=winConditions  
              value=this.model.competitionWinCondition
              optionValuePath="content" 
              optionLabelPath='content.name' 
              class="form-control" 
              prompt="Please select a win condition"}}
        {{#if model.competitionWinCondition}}
          {{#form-for model wrapper="bootstrap"}}
            {{input name}}
            {{input startDate as='datePicker'}}
            {{input endDate as='datePicker'}}
            {{input maxParticipants}}
            {{input description as="text"}}
            <br />
            {{submit id="competitionCreate" class="btn btn-primary"}}
          {{/form-for}}
        {{/if}}
      </div>
    </div>
  </div> 

  <div class="col-md-6">
    <div class="info-box">
      <h3>Creating Competitions</h3>
      <p class="lead">When you want to create a competition, simply follow these steps:</p>
      <dl>
        <dt>Step 1</dt>
        <dd>Select your win condition (Currently only 1)</dd>
        <dt>Step 2</dt>
        <dd>Enter a name for your competition</dd>
        <dt>Step 3</dt>
        <dd>Select the start and end dates</dd>
        <dt>Step 4 (Optional)</dt>
        <dd>Enter the max number of participants and a description</dd>
      </dl>
      <span class="help-block">You will be able to add exercises to your competition once it is created.</span>
    </div>

  </div>

</div>