<form {{action 'create' this.model on='submit'}}>
<div class="row">
  <div class="col-md-8">
    <h4>Competition Create</h4>
    <hr>
    <div class="row">
      <div {{bindAttr class=":form-group errors.name:has-error:"}}>
        <label class= "col-sm-4 control-label">Name</label>
        <div class="col-sm-8">
          {{input value=this.model.name classNames="form-control"}}
          {{#if errors.name}}<span class="help-block">{{errors.name}}</span>{{/if}}
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div {{bindAttr class=":form-group errors.startDate:has-error:"}}>
        <label class= "col-sm-4 control-label">Start Date</label>
        <div class="col-sm-8">
          {{input type="date" value=startDate classNames="form-control"}}
          {{#if errors.startDate}}<span class="help-block">{{errors.startDate}}</span>{{/if}}
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div {{bindAttr class=":form-group errors.endDate:has-error:"}}>
        <label class= "col-sm-4 control-label">End Date</label>
        <div class="col-sm-8">
          {{input type="date" value=endDate classNames="form-control"}}
          {{#if errors.startDate}}<span class="help-block">{{errors.startDate}}</span>{{/if}}
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div {{bindAttr class=":form-group errors.exercise:has-error:"}}>
        <label class= "col-sm-4 control-label">Exercise</label>
        <div class="col-sm-8">
          {{view Ember.Select value=selectedExercise content=selectExercises class="form-control" optionValuePath='content' optionLabelPath='content.name' prompt="Please select an exercise"}}
          {{#if errors.exercise}}<span class="help-block">{{errors.exercise}}</span>{{/if}}
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="form-group">
        <label class= "col-sm-4 control-label">Max Participants</label>
        <div class="col-sm-8">
          {{input value=this.model.maxParticipants classNames="form-control"}}
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="form-group">
        <label class= "col-sm-4 control-label">Private</label>
        <div class="col-sm-8">
          {{view Ember.Checkbox checkedBinding="isPrivate"}}
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button class="btn btn-primary">Create</button>
        </div>      
      </div>
    </div>
  </div>
</div>
<hr>
</form>
