<div class="well">  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "background1.jpg", alt: "First slide", class: "img-rounded" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Join in on the madness</h1>
            <p>Get ready to take your fitness to the next level.</p>
            <p><%= link_to "Sign up today", new_user_registration_path, class: "btn btn-lg btn-primary" %></p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag "background2.jpg", alt: "Second slide", class: "img-rounded" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Never skip a workout again</h1>
            <p>Using ideas from the latest scientific studies, we have found a way to help motivate people to workout at a higher level.</p>
            <p><%= link_to "Sign up and see what it's all about", new_user_registration_path, class: "btn btn-lg btn-primary" %></p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag "background3.jpg", alt: "Third slide", class: "img-rounded" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Push yourself to the max</h1>
            <p>Nothing motivates you to workout harder than a nice friendly competition. Check out some of our users results</p>
            <p><%= link_to "No really, Give it a shot!", new_user_registration_path, class: "btn btn-lg btn-primary" %></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div><!-- /.carousel -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Get the results you want. <span class="text-muted"> Compete to Win.</span></h2>
      <p class="lead">Get fit while having fun competing with your friends and challenging yourself to achieve new levels of fitness. Whatever your fitness goals are, the key to achieving results is consistency. We keep you motivated by using your friends and others on the site to challenge you to keep going. We're leveraging postive peer presure to keep you in the game.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "small-home1.jpg", alt: "Generic Image", class: "featurette-image img-responsive" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag "small-home2.jpg", alt: "Generic Image", class: "featurette-image img-responsive" %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Does it work? <span class="text-muted"> Oh yeah!</span></h2>
      <p class="lead">Signing up is free so there is no reason not to. Once you get a taste of how it can be to push your fitness levels with your friends, you will never want to workout any other way.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Acheive your goals. <span class="text-muted">Your Way.</span></h2>
      <p class="lead">Whatever your goals, whatever your motivational needs, we've got you covered. Get started and start seeing the results. Your body with thank you. </p>
    </div>
    <div class="col-md-5">
      <%= image_tag "small-home3.jpg", alt: "Generic Image", class: "featurette-image img-responsive" %>
    </div>
  </div>

  <hr class="featurette-divider">
</div>