<div class="row">
  <div class="col-md-8">
    <div class="panel panel-danger">
      <div class="panel-heading"><h3 class="panel-title">Information</h3></div>
      <table class="table">
        <tr>
          <td colspan="2">
            <h3 class="text-danger text-center">The competition is finished</h3>
          </td>
        </tr>
        <tr>
          <td><strong>Creator</strong></td>
          <td>{{user.handle}}</td>
        </tr>
        <tr>
          <td><strong>Start Date</strong></td>
          <td>{{date startDate}}</td>
        </tr>
        <tr>
          <td><strong>End Date</strong></td>
          <td>{{date endDate}}</td>
        </tr>
        <tr>
          <td><strong>Max players</strong></td>
          <td>{{numOfParticipants}}</td>
        </tr>
        <tr>
          <td><strong># of players</strong></td>
          <td>{{numberOfUsers}}</td>
        </tr>            
        <tr>
          <td><strong>Visability</strong></td>
          <td>{{#if isPrivate}}Private{{else}}Public{{/if}}</td>
        </tr> 
        <tr>
          <td><strong>Description</strong></td>
          <td><p>{{description}}</p></td>
        </tr>            
      </table>        
    </div>
  </div>
    
  <div class="col-md-4">
    <div class="panel panel-danger">
      <div class="panel-heading"><h3 class="panel-title">Exercises</h3></div>
      <ul class="list-group">      
        {{#each compExercise in controller.competitionExercises}}
          <li class="list-group-item">{{compExercise.exercise.name}}</li>
        {{/each}}
      </ul>
    </div>
  </div> 
</div>

<div class="panel panel-danger">
  <div class="panel-heading"><h3 class="panel-title">Leaderboard</h3></div>
  <ul class="list-group">      
    {{#each compJoin in sortedJoins}}
      <li class="list-group-item">
        {{#if compJoin.rank}}<h4>Rank: {{compJoin.rank}}</h4>{{/if}}
        <h5>User: {{compJoin.user.handle}}</h5>
        <h5>Total: {{compJoin.total}}</h5>   
      </li>
    {{/each}}
  </ul>
</div>