<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">Information for {{name}}</h3></div>    
  <ul class="list-group">
    {{#if canJoin}}
      <li class="list-group-item"><button class="btn btn-danger btn-block" {{action "join"}}>Join</button></li>
    {{/if}}  
    {{info-item title="Status" value=status}}
    {{info-item title="Creator" value=user.handle}}
    {{info-item title="Start Date" value=startDate isDate="true"}}
    {{info-item title="End Date" value=endDate isDate="true"}}
    {{info-item title="Max players" value=numOfParticipants}}
    {{info-item title="# of players" value=numberOfUsers}} 
    {{info-item title="Description" value=description}} 
    <li class="list-group-item">
      <div class="row">
        <strong class="col-sm-4">Exercises</strong>
        <p class="col-md-8">
          {{#each compExercise in competitionExercises}}
            {{compExercise.exercise.name}} &nbsp;
          {{/each}}
        </p>
      </div>
    </li>     
  </ul>    
</div>

<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">Leaderboard</h3></div>
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th>User</th>
          <th>Rank</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
      {{#each compJoin in rankedJoins}}
        <tr>
          <td>{{compJoin.user.handle}}</td>
          <td>{{compJoin.rank}}</td>               
          <td><span class="badge">{{compJoin.total}}</span></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="3">You haven't attempted any challenges yet! Go try some!</td>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>