  {{!-- Started Template --}}
  <div class="row">
    <div class="col-md-6">
      <h4>Information</h4>
      <p>Creator: {{user.email}}</p>
      <p>Start Date: {{date startDate}}</p>
      <p>End Date: {{date endDate}}</p>
      <p>Max Participants: {{numOfParticipants}}</p>
      <p>Currently registered: {{numberOfUsers}}</p>
      {{#if isPrivate}}
        <p>This is a private competition</p>
      {{else}}
        <p>This is a public competition</p>
      {{/if}}
      <p>Active: {{active}}</p>
      <p>Reward: {{reward}}</p>
      <br />
    </div>

    <div class="col-md-6">
      <h4>Exercises</h4>
      {{#each compExercise in controller.model.competitionExercises}}
        <ul class="list-group">
          <li class="list-group-item"> {{compExercise.exercise.name}} </li>
        </ul>
      {{/each}}
    </div>
  </div>
  <hr>
  <h3>{{name}} Ranking</h3>
  {{#each controller.competitionJoins}}  
    <ul class="list-group">
      <li class="list-group-item">
        {{#if rank}}<h4>Rank: {{rank}}</h4>{{/if}}
        <h5>User: {{this.user.email}}</h5>
        <h5>Total: {{total}}</h5>          
      </li>
  {{/each}}
  {{!-- End Started Template --}}