<div class="row">
  <div class="col-md-8">
    {{outlet}}
    <div class="panel panel-danger">
      <div class="panel-heading"><h3 class="panel-title">Information</h3></div>
      <table class="table">
        <tr>
          <td colspan="2">
            <h3 class="text-success text-center">Registration Open</h3>
          </td>
        </tr>
        <tr>
          <td><strong>Creator</strong></td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <td><strong>Start Date</strong></td>
          <td>{{date startDate}}</td>
        </tr>
        <tr>
          <td><strong>End Date</strong></td>
          <td>{{date endDate}}</td>
        </tr>
        <tr>
          <td><strong>Max players</strong></td>
          <td>{{numOfParticipants}}</td>
        </tr>
        <tr>
          <td><strong># of players</strong></td>
          <td>{{numberOfUsers}}</td>
        </tr>            
        <tr>
          <td><strong>Visability</strong></td>
          <td>{{#if isPrivate}}Private{{else}}Public{{/if}}</td>
        </tr> 
        <tr>
          <td><strong>Description</strong></td>
          <td><p>{{description}}</p></td>
        </tr>            
      </table>        
    </div>
  </div> 

  <div class="col-md-4">
    <div class="panel panel-danger">
      <div class="panel-heading"><h3 class="panel-title">Actions</h3></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            {{#if isJoined}}
              <button class="btn btn-default btn-block"{{action "leave"}}>Leave</button>
            {{else}}
              {{#if canJoin}}
                <button class="btn btn-default btn-block"{{action "join"}}>Join</button>
              {{/if}}
            {{/if}} 
          </li>
          {{#if canUpdate}}
          <li class="list-group-item">
            {{#link-to "competition.edit" this class="btn btn-default btn-block" name="Edit Competition"}}Edit{{/link-to}}
          </li>
          <li class="list-group-item">
            <a href="#" class="btn btn-default btn-block" name="Delete Competition" {{action delete this}}>Delete</a>
          </li>
          {{/if}}
        </ul>            
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    {{outlet}}
    <div class="panel panel-danger">
      <div class="panel-heading"><h3 class="panel-title">Exercises</h3></div> 
      <div class="panel-body">
      {{#if canUpdate}}
        {{#unless controller.model.competitionExercises}}
        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-default" {{ action "addExercise" }}>Add Exercise</button>
          </div>

          <div class="col-md-9">
            {{view Ember.Select content=exercises name="Exercise Select" value=selectedExercise optionValuePath="content" optionLabelPath='content.name' class="form-control" prompt="Please select an exercise"}}
          </div> 
        </div>
        <br />
        {{/unless}}        
      {{/if}} 
      <ul class="list-group">     
        {{#each compExercise in controller.model.competitionExercises}}        
          <li class="list-group-item">
            <strong>{{compExercise.exercise.name}}</strong>
            {{#if canUpdate}}
              <button {{action "removeExercise" compExercise }} class="btn btn-xs btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span></button>
            {{/if}}
          </li>       
        {{else}}
          <li class="list-group-item">No exercises have been added to this competition.</li>
        {{/each}}
      </table>  
      </div>       
    </div>
  </div> 

  <div class="col-md-4">
    <div class="panel panel-danger">
      <div class="panel-heading"><h3 class="panel-title">Users</h3></div>
      <div class="panel-body">
        <ul class="list-group">      
          {{#each compJoin in controller.competitionJoins}}
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-8">
                  {{compJoin.user.email}}
                </div>
                <div class="col-md-4">
                  {{#if canUpdate}}
                    <button {{action "removeUser" compJoin }} class="btn btn-xs btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span></button>
                  {{/if}}
                </div>
              </div>
            </li>
          {{else}}
            <li class="list-group-item">None currently registered</li>
          {{/each}}
        </ul>          
      </div>
    </div>
  </div>
</div>