<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Logged Activities</h3>
      </div>
      <ul class="pager">  
        {{#unless noPreviousPage}}        
          <li><a href="#" {{action 'previousPage'}}>Previous</a></li>
        {{/unless}}
        {{#unless noNextPage}}
          <li><a href="#" {{action 'nextPage'}}>Next</a></li>
        {{/unless}}
      </ul>
      <div id="recent_activity" class="list-group">
        {{#each currentPage}}
          {{#unless this.isDeleted}}
            {{#link-to "activity" this class="list-group-item"}}
              {{dateTime this.createdAt}} - {{this.exercise.name}}
            {{/link-to}}
          {{/unless}}
        {{else}}
          <div class="list-group-item">You haven't logged any activities yet! Go log some!</div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-md-8">
    {{outlet}}
  </div>
</div>

{{date startDate}} - {{date endDate}}
<a href="#" {{action "prevWeek"}}>Prev</a>
<a href="#" {{action "nextWeek"}}>Next</a>
<table class="table table-bordered table-striped">
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <td>
      {{basic-list collection=sundayActivities}}
    </td>
    <td>{{basic-list collection=mondayActivities}}</td>
    <td>{{basic-list collection=tuesdayActivities}}</td>
    <td>{{basic-list collection=wednesdayActivities}}</td>
    <td>{{basic-list collection=thursdayActivities}}</td>
    <td>{{basic-list collection=fridayActivities}}</td>
    <td>{{basic-list collection=saturdayActivities}}</td>
  </tr>
</table>
