<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Activity Details</h3>
  </div>
  <div class="panel-body">        
    <a href="#" class="btn btn-danger pull-right" {{action "delete" this}}>Delete</a>
    <h2>{{exercise.name}}</h2>
    {{#each values}}
      <p><strong>{{this.name}}</strong>: {{this.value}}</p>
    {{/each}}    
    <p>Created At: {{date createdAt}}</p>
  </div>
</div>
