<button class="btn btn-danger"{{action "delete"}}>Delete</button>
<button class="btn btn-default"{{action "edit"}}>Edit</button>

{{#if deleteMode}}
<div class="confirm-box">
  <h4>Are you sure?</h4>
  <button class="btn btn-danger"{{action "confirmDelete"}}> Yes </button>
  <button class="btn btn-default"{{action "cancelDelete"}}> No </button>
</div>
{{/if}}

<h2>{{exercise.name}}</h2>

{{#if exercise.reps}}
  <p>Reps: {{reps}}</p>
{{/if}}
{{#if exercise.distance}}
  <p>Distance: {{distance}}</p>
{{/if}}
{{#if exercise.duration}}
  <p>Duration: {{duration}}</p>
{{/if}}
{{#if exercise.calories}}
  <p>Calories: {{calories}}</p>
{{/if}}
{{#if exercise.weight}}
  <p>Weigth: {{weight}}</p>
{{/if}}
<br />
{{outlet}}

