<div class="pull-right">          
  <a href="#" class="btn btn-danger" {{action delete this}}>Delete</a>
</div>

<h2>{{exercise.name}}</h2>

{{#if exercise.reps}}
  <p>Reps: {{reps}}</p>
{{/if}}
{{#if exercise.distance}}
  <p>Distance: {{distance}}</p>
{{/if}}
{{#if exercise.duration}}
  <p>Duration: {{duration}}</p>
{{/if}}
{{#if exercise.calories}}
  <p>Calories: {{calories}}</p>
{{/if}}
{{#if exercise.weight}}
  <p>Weigth: {{weight}}</p>
{{/if}}
<p>Created At: {{date createdAt}}</p>
<br />
{{outlet}}

