<div class="row">
  <div class="col-md-6">
    <div class="panel panel-danger">
      <div class="panel-heading"><h3 class="panel-title">Information</h3></div>
      <table class="table">
        <tr>
          <td><strong>Name</strong></td>
          <td>{{name}}</td>
        </tr>
        <tr>
          <td><strong>Description</strong></td>
          <td>{{description}}</td>
        </tr>                   
      </table>        
    </div>
  </div>
    
  <div class="col-md-6">
    <div class="panel panel-danger">
      <div class="panel-heading"><h3 class="panel-title">Log Attempt</h3></div>
      <ul class="list-group">      
        <li class="list-group-item">
          <div class="row">
            <div class="form-group">
              <label class= "col-sm-3 control-label">Result</label>
              <div class="col-sm-9">
                {{input value=result classNames="form-control" placeholder=this.metric.name}}
              </div>
            </div>
          </div>
          <br />
          <button class="btn btn-default btn-block"{{action "createAttempt"}}>Record Result</button>
        </li>
      </ul>
    </div>
  </div> 
</div>

<div class="panel panel-danger">
  <div class="panel-heading"><h3 class="panel-title">Leaderboard</h3></div>
  <table class="table">
    {{#each controller.model.challengeAttempts}}
      <tr>
        <td><strong>Result</strong></td>
        <td>{{this.result}}</td>
        <td><strong>User</strong></td>
        <td>{{this.user.email}}</td>
      </tr>
    {{/each}}                    
  </table>        
</div>