<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading"><h3 class="panel-title">Information</h3></div>
      <table class="table">
        <tr>
          <td><strong>Name</strong></td>
          <td>{{name}}</td>
        </tr>
        <tr>
          <td><strong>Description</strong></td>
          <td>{{description}}</td>
        </tr>                   
      </table>  
        {{#link-to 'challenge.newAttempt' class="btn btn-primary"}}New Attempt{{/link-to}}
        {{outlet}}      
    </div>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading"><h3 class="panel-title">Leaderboard</h3></div>
  <table class="table leaderboard">
    {{#each controller.model.challengeAttempts}}
      <tr>
        <td><strong>Result</strong></td>
        <td>{{this.result}}</td>
        <td><strong>User</strong></td>
        <td>{{this.user.handle}}</td>
        <td><a href="#" class="btn btn-danger btn-xs" {{action "deleteAttempt" this }}>&times;</a></td>
      </tr>
    {{else}}
      <tr>
        <td>This challenge has not been attempted yet. <strong>You could be the first!</strong></td>
      </tr>
    {{/each}}                    
  </table>        
</div>