<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading"><h3 class="panel-title">Information</h3></div>
      <table class="table">
        <tr>
          <td><strong>Name</strong></td>
          <td>{{name}}</td>
        </tr>
        <tr>
          <td><strong>Description</strong></td>
          <td>{{description}}</td>
        </tr>   
        <tr>
          <td><strong>Exercise</strong></td>
          <td>{{exercise.name}}</td>
        </tr>                  
      </table> 
      <div class="panel-body">
        {{#link-to 'challenge.newAttempt' class="btn btn-primary"}}New Attempt{{/link-to}}
        {{outlet}} 
      </div>      
    </div>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading"><h3 class="panel-title">Leaderboard</h3></div>
  <table class="table leaderboard">
    <thead>
      <tr class="active">
        <th>Rank</th>
        <th>User</th>
        <th>Value</th>
        <th colspan="2">Attempted On</th>
      </tr>
    </thead>
    {{#each attempt in rankedChallengeAttempts}}
      <tr>
        <td>{{index _view.contentIndex}}</td>
        <td>{{attempt.user.handle}}</td>
        <td><span class="badge">{{attempt.result}}</span></td>
        <td><span class="badge">{{dateTime attempt.createdAt}}</span></td>
        <td>
          {{#if canDelete}}
            <a href="#" class="btn btn-danger btn-xs" {{action "deleteAttempt" attempt }}>&times;</a>
          {{/if}}
        </td>
      </tr>
    {{else}}
      <tr colspan="4">
        <td>This challenge has not been attempted yet. <strong>You could be the first!</strong></td>
      </tr>
    {{/each}}                    
  </table>        
</div>