<h2>{{name}}</h2>
<hr>

{{#unless started}}
  {{#if isJoined}}
    <button class="btn btn-success"{{action "leave"}}>Leave this competition</button>
  {{else}}
    <button class="btn btn-success"{{action "join"}}>Join this competition</button>
  {{/if}}

  <div class="pull-right">          
    {{#linkTo "competition.edit" this class="btn btn-info"}}Edit{{/linkTo}}
    <a href="#" class="btn btn-danger" {{action delete this}}>Delete</a>
  </div>
{{else}}
  {{#linkTo "activities" controllers.application.currentUser class="btn btn-success"}}Log Activity{{/linkTo}}
{{/unless}}

{{outlet}}

<div class="row">
  <div class="col-md-4">
    <h4>Information</h4>
    <p>Start Date: {{date startDate}}</p>
    <p>End Date: {{date endDate}}</p>
    <p>Max Participants: {{maxParticipants}}</p>
    <p>Public: {{isPublic}}</p>
    <p>Active: {{active}}</p>
    <p>Reward: {{reward}}</p>
    <br />
  </div>

  <div class="col-md-4">
    <h4>Exercises</h4>
    {{#each compExercise in controller.model.competitionExercises}}
      <ul class="nav">
        <li>{{compExercise.exercise.name}}<button {{action "removeExercise" compExercise }} class="btn btn-xs btn-danger pull-right">Remove</button></li>
      </ul>
    {{else}}
      <ul class="nav">
        {{render "exercises"}}
      </ul>
    {{/each}}
  </div>

  <div class="col-md-4">
    <h4>Users</h4>
    <ul>
    {{#each controller.users}}
      <li>{{email}}</li>
    {{else}}
      <li>None currently registered</li>
    {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <h3>{{name}} Ranking</h3>
  {{#each controller.competitionJoins}}  
    <hr>
    {{#if rank}}<h4>Rank: {{rank}}</h4>{{/if}}
    <h5>User: {{this.user.email}}</h5>
    <h5>Total Experience: {{totalExperience}}</h5>          
  {{/each}}
</div>