<h2>{{name}}</h2>
<p class="lead text-warning">{{description}}</p>
<hr>

<div class="row">
  <div class="col-md-4">
    <div class="well">
      <h3>Information</h3>    
    </div>

    <div class="panel">
      <div class="well">
        <div class="row">
          <a href="#" {{action "sendFacebook" this }} class="col-sm-6">
            <img class="img-responsive" src="/assets/fb-invite.png" alt="Invite via Facebook" height="42">
          </a>
          <a href="#" {{action "postFacebook" this }} class="col-sm-6">
            <img class="img-responsive" src="/assets/fb-share.png" alt="Share via Facebook" height="42">
          </a>
        </div>
      </div>
      <ul class="list-group">
        {{#if canJoin}}
          <li class="list-group-item"><button class="btn btn-danger btn-block" {{action "join"}}>Join</button></li>
        {{/if}}  
        {{info-item title="Status" value=status}}
        {{info-item title="Creator" value=user.handle}}
        {{info-item title="Win Condition" value=competitionWinCondition.name}} 
        {{info-item title="Start Date" value=startDate isDate="true"}}
        {{info-item title="End Date" value=endDate isDate="true"}}
        {{info-item title="Max players" value=numOfParticipants}}
        {{info-item title="# of players" value=numberOfUsers}} 
        <li class="list-group-item">
          <div class="row">
            <strong class="col-sm-4">Exercises</strong>
            <p class="col-md-8">
              {{#each compExercise in competitionExercises}}
                {{compExercise.exercise.name}} &nbsp;
              {{/each}}
            </p>
          </div>
        </li>     
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <div class="well">
      <h3>Leaderboard</h3>    
    </div>
    <div class="panel">
      <table class="table table-hover table-striped">
        <thead>
          <tr class="active">
            <th>User</th>
            <th>Rank</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
        {{#each compJoin in rankedJoins}}
          <tr>
            <td>{{compJoin.user.handle}}</td>
            <td>{{compJoin.rank}}</td>               
            <td><span class="badge">{{compJoin.total}}</span></td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="progress">
                {{bs-progressbar progress=compJoin.power}}
              </div>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="3">You haven't attempted any challenges yet! Go try some!</td>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>


