{{resource-header title="Competitions" link="competitions.create"}}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">        
        <div class="row">
          <div class="col-sm-4"><h3 class="panel-title">Competitions</h3></div>
          <div class="col-sm-4">Number of Users</div>                      
          <div class="col-sm-4">Status</div>
        </div>
      </div>
      <div class="list-group">
        {{#each competition in controller}} 
          {{#unless competition.isNew}}         
            {{#link-to "competition" competition class="list-group-item"}}
              <div class="row">
                <div class="col-sm-4">{{competition.name}}</div>
                <div class="col-sm-4">{{competition.numberOfUsers}}</div>                      
                <div class="col-sm-4"><span class="badge">{{competition.status}}</span></div>
              </div>
            {{/link-to}}   
          {{/unless}}     
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    {{outlet}}
  </div>
</div>

