<h2>{{name}}</h2>
<hr>

{{#unless started}}
  {{#if isJoined}}
    <button class="btn btn-success"{{action "leave"}}>Leave this competition</button>
  {{else}}
    <button class="btn btn-success"{{action "join"}}>Join this competition</button>
  {{/if}}

  {{#if hasPermission}}
    <div class="pull-right">          
      {{#linkTo "competition.edit" this class="btn btn-info"}}Edit{{/linkTo}}
      <a href="#" class="btn btn-danger" {{action delete this}}>Delete</a>
    </div>
  {{/if}}
{{else}}
  {{#linkTo "activities" controllers.application.currentUser class="btn btn-success"}}Log Activity{{/linkTo}}
{{/unless}}

{{outlet}}

<div class="row">
  <div class="col-md-4">
    <h4>Information</h4>
    <p>Creator: {{creator.email}}</p>
    <p>Start Date: {{date startDate}}</p>
    <p>End Date: {{date endDate}}</p>
    <p>Max Participants: {{maxParticipants}}</p>
    {{#if isPrivate}}
      <p>This is a private competition</p>
    {{else}}
      <p>This is a public competition</p>
    {{/if}}
    <p>Active: {{active}}</p>
    <p>Reward: {{reward}}</p>
    <br />
  </div>

  <div class="col-md-4">
    <h4>Exercises</h4>
    {{#if hasPermission}}
      {{#each compExercise in controller.model.competitionExercises}}
        <ul class="nav">
          <li>{{compExercise.exercise.name}}<button {{action "removeExercise" compExercise }} class="btn btn-xs btn-danger pull-right">Remove</button></li>
        </ul>
      {{else}}
        <ul class="nav">
          {{#if isAddingExercise}}
            <p>Saving...</p>
          {{else}}
            {{render "exercises"}}
          {{/if}}
        </ul>
      {{/each}}
    {{else}}
      {{#each compExercise in controller.model.competitionExercises}}
        <ul class="nav">
          <li>{{compExercise.exercise.name}}</li>
        </ul>
      {{else}}
        <p class="text-info">The creator has not added any exercises for this competition yet</p>
      {{/each}}
    {{/if}}
  </div>

  <div class="col-md-4">
    <h4>Users</h4>
    <ul>
    {{#each controller.users}}
      <li>{{email}}</li>
    {{else}}
      <li>None currently registered</li>
    {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <h3>{{name}} Ranking</h3>
  {{#each controller.competitionJoins}}  
    <hr>
    {{#if rank}}<h4>Rank: {{rank}}</h4>{{/if}}
    <h5>User: {{this.user.email}}</h5>
    <h5>Total Experience: {{totalExperience}}</h5>          
  {{/each}}
</div>