<h2>{{name}}</h2>
<hr>
{{#if started}}
  {{!-- Started Template --}}
  <div class="row">
    <div class="col-md-6">
      <h4>Information</h4>
      <p>Creator: {{user.email}}</p>
      <p>Start Date: {{date startDate}}</p>
      <p>End Date: {{date endDate}}</p>
      <p>Max Participants: {{numOfParticipants}}</p>
      <p>Currently registered: {{numberOfUsers}}</p>
      {{#if isPrivate}}
        <p>This is a private competition</p>
      {{else}}
        <p>This is a public competition</p>
      {{/if}}
      <p>Active: {{active}}</p>
      <p>Reward: {{reward}}</p>
      <br />
    </div>

    <div class="col-md-6">
      <h4>Exercises</h4>
      {{#each compExercise in controller.model.competitionExercises}}
        <ul class="nav">
          <li> {{compExercise.exercise.name}} </li>
        </ul>
      {{/each}}
    </div>
  </div>
  <hr>
  <h3>{{name}} Ranking</h3>
  {{#each controller.competitionJoins}}  
    <hr>
    {{#if rank}}<h4>Rank: {{rank}}</h4>{{/if}}
    <h5>User: {{this.user.email}}</h5>
    <h5>Total: {{total}}</h5>          
  {{/each}}
  {{!-- End Started Template --}}
{{else}}
  {{!-- Not Started Template --}}
  {{#if isJoined}}
    <button class="btn btn-info"{{action "leave"}}>Leave this competition</button>
  {{else}}
    {{#if canJoin}}
      <button class="btn btn-success"{{action "join"}}>Join this competition</button>
    {{/if}}
  {{/if}}  

  {{#if hasPermission}}
    <hr>
    <div class="row">    
      <div class="col-md-3">
        <h4>Creator Pane</h4>
      </div>
      <div class="col-sm-9">
        <div class="pull-right">          
          {{#link-to "competition.edit" this class="btn btn-info" name="Edit Competition"}}Edit{{/link-to}}
          <a href="#" class="btn btn-danger" name="Delete Competition" {{action delete this}}>Delete</a>
        </div>
      </div>
    </div>
    <br />
    {{#unless controller.competitionExercises}}
      <div class="row">  
        <div class="form-group">
          <label class= "col-sm-3 control-label">Exercise</label>
          <div class="col-sm-3">
            <button class="btn btn-primary" {{ action "addExercise" }}>Add Exercise</button>
          </div>
          <div class="col-sm-6">
            {{view Ember.Select content=exercises name="Exercise Select" value=selectedExercise optionValuePath="content" optionLabelPath='content.name' class="form-control" prompt="Please select an exercise"}}
          </div>
        </div>
      </div>
    {{/unless}}
    <hr>
    {{outlet}}
  {{/if}}

  <div class="row">
    <div class="col-md-4">
      <h4>Information</h4>
      <p>Creator: {{user.email}}</p>
      <p>Start Date: {{date startDate}}</p>
      <p>End Date: {{date endDate}}</p>
      <p>Max Participants: {{numOfParticipants}}</p>
      <p>Currently registered: {{numberOfUsers}}</p>
      {{#if isPrivate}}
        <p>This is a private competition</p>
      {{else}}
        <p>This is a public competition</p>
      {{/if}}
      <p>Description: {{description}}</p>
      <p>Reward: {{reward}}</p>
      <br />
    </div>

    <div class="col-md-4">
      <h4>Exercises</h4>      
      {{#each compExercise in controller.model.competitionExercises}}
        <ul class="nav">
          <li>
            {{compExercise.exercise.name}}
            {{#if hasPermission}}
              <button {{action "removeExercise" compExercise }} class="btn btn-xs btn-danger pull-right">Remove</button>
            {{/if}}
          </li>
        </ul>
      {{else}}
        <p class='info-text'>No exercises have been added to this competition.</p>
      {{/each}}
    </div>

    <div class="col-md-4">
      <h4>Users</h4>
      <ul class="nav">      
        {{#each compJoin in controller.competitionJoins}}
          <li>
            {{compJoin.user.email}}
            {{#if hasPermission}}
              <button {{action "removeUser" compJoin }} class="btn btn-xs btn-danger pull-right">Remove</button>
            {{/if}}
          </li>
        {{else}}
          <li>None currently registered</li>
        {{/each}}
    </div>    
  </div>
  {{!-- End Not Started Template --}}
{{/if}}