<h2>{{name}}</h2>
<div class="well well-sm">
  <p class="lead text-center">Description</p>
  <p class="lead text-info text-center">{{description}}</p>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="well">
      <h3>Information</h3>    
    </div>

    <div class="panel">
      <ul class="list-group">
        {{#if canJoin}}
          <li class="list-group-item"><button class="btn btn-success btn-block" {{action "join"}}>Join</button></li>
        {{/if}}
        {{#if isJoined}}
          <li class="list-group-item"><button class="btn btn-warning btn-block"{{action "leave"}}>Leave Competition</button></li>
        {{/if}}
        {{#if canUpdate}}
          {{!--           
            <li class="list-group-item">
              {{#link-to "competition.edit" this id="edit_competition" class="btn btn-default btn-block"}}Edit{{/link-to}}
            </li> 
          --}}
          <li class="list-group-item">
            <a href="#" class="btn btn-danger btn-block" name="Delete Competition" {{action "delete" this}}>Delete</a>
          </li>
        {{/if}}
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" class="btn btn-block btn-default" {{action "postFacebook" this }}>
                <i class="fa fa-facebook-square"></i> Share
              </a>
            </div>
            <div class="col-sm-6">
              <a href="#" class="btn btn-block btn-default" {{action "sendFacebook" this }}>
                <i class="fa fa-facebook-square"></i> Invite
              </a>
            </div>
          </div>
        </li> 
        <li class="list-group-item">

        </li> 
        {{info-item title="Status" value=status}}
        {{info-item title="Creator" value=user.handle}}
        {{info-item title="Win Condition" value=competitionWinCondition.name}} 
        {{info-item title="Start Date" value=startDate isDate="true"}}
        {{info-item title="End Date" value=endDate isDate="true"}}
        {{info-item title="Max players" value=numOfParticipants}}
        {{info-item title="# of players" value=numberOfUsers}} 
        <li class="list-group-item">
          <strong>Exercises</strong>
          <ul>
            {{#each competitionExercises}}
            <li>{{this.exercise.name}}</li>
            {{/each}}
          </ul>
        </li>     
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <div class="well">
      <h3>Leaderboard</h3>    
    </div>
    <div id="competitionLeaderboard" class="panel">
      <table class="table table-hover table-striped">
        <thead>
          <tr class="active">
            <th>User</th>
            <th>Rank</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
        {{#each compJoin in rankedJoins}}
          <tr>
            <td>{{compJoin.user.handle}}</td>
            <td>{{compJoin.rank}}</td>               
            <td><span class="badge">{{compJoin.total}}</span></td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="progress">
                {{bs-progressbar progress=compJoin.power}}
              </div>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="3">No users have joined! Go invite some!</td>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>


