<h1>Competitions</h1>
<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <div class="list-group-item">
        <div class="row well well-sm">
          <div class="col-sm-3"><h5>Name</h5></div>
          <div class="col-sm-3"><h5># of Users</h5></div>                      
          <div class="col-sm-3"><h5>Status</h5></div>
          <div class="col-sm-3"><h5>Activeness</h5></div>
        </div> 
      </div> 
      {{#each controller}} 
        {{#unless this.isNew}}         
          {{#link-to "competition" this class="list-group-item"}}
            <div class="row">
              <div class="col-sm-3">{{this.name}}</div>
              <div class="col-sm-3">{{this.numberOfUsers}}</div>                      
              <div class="col-sm-3">
                <span {{bind-attr class=":label this.started:label-default:label-success" }}>{{this.status}}</span></div>
              <div class="col-sm-3">{{{this.fireImg}}}</div>
            </div>
          {{/link-to}}   
        {{/unless}}     
      {{/each}}
    </div>
  </div>

  <div class="col-md-8">
    {{outlet}}
  </div>
</div>

