<h2>{{name}}</h2>
<hr>

{{outlet}}

{{#unless isJoined}}
  <button class="btn btn-default"{{action "join"}}>Join</button>
{{/unless}}

<div class="row">
  <div class="col-md-4">
    <h4>Information</h4>
    <p>Start Date: {{date startDate}}</p>
    <p>End Date: {{date endDate}}</p>
    <p>Max Participants: {{maxParticipants}}</p>
    <p>Lower Level Restriction: {{lowerLevelRestriction}}</p>
    <p>Upper Level Restriction: {{upperLevelRestriction}}</p>
    <p>Public: {{isPublic}}</p>
    <p>Active: {{active}}</p>
    <p>Reward: {{reward}}</p>
    <br />
  </div>

  <div class="col-md-4">
    <h4>Exercises</h4>
    <ul>
    {{#each controller.exercises}}
      <li>{{name}}</li>
    {{/each}}
    </ul>
  </div>

  <div class="col-md-4">
    <h4>Users</h4>
    <ul>
    {{#each controller.users}}
      <li>{{email}}</li>
    {{else}}
      <li>None currently registered</li>
    {{/each}}
    </ul>
  </div>
</div>

