<div class="row">
  <div class="col-md-3">
    {{#link-to "competitions.create" class="btn btn-info btn-block"}}New Competition{{/link-to}}
    <hr>
    <div class="panel panel-danger">
      <div class="panel-heading">
        {{#link-to 'competitions'}}<h3 class="panel-title">New Competitions</h3>{{/link-to}}
      </div>
      <div class="list-group">
        {{#each newCompetitions}}
          {{#unless isDirty}}
            {{#link-to "competition" this class="list-group-item"}}{{name}}{{/link-to}}
          {{/unless}}
        {{else}}
          <a href="#" class="list-group-item">There are no competitions.</a>
        {{/each}}
      </div>
      <br />
      <div class="panel-heading">
        {{#link-to 'competitions'}}<h3 class="panel-title">Started Competitions</h3>{{/link-to}}
      </div>
      <div class="list-group">
        {{#each startedCompetitions}}
          {{#unless isDirty}}
            {{#link-to "competition" this class="list-group-item"}}{{name}}{{/link-to}}
          {{/unless}}
        {{else}}
          <a href="#" class="list-group-item">There are no competitions.</a>
        {{/each}}
      </div>
      <br />
      <div class="panel-heading">
        {{#link-to 'competitions'}}<h3 class="panel-title">Finished Competitions</h3>{{/link-to}}
      </div>
      <div class="list-group">
        {{#each finishedCompetitions}}
          {{#unless isDirty}}
            {{#link-to "competition" this class="list-group-item"}}{{name}}{{/link-to}}
          {{/unless}}
        {{else}}
          <a href="#" class="list-group-item">There are no competitions.</a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-md-9">
    {{outlet}}
  </div>
</div>


