<h2>{{name}}</h2>
<hr>

{{#unless started}}
  <button class="btn btn-success"{{action "start"}}>Start</button>
  {{#unless isJoined}}
    <button class="btn btn-success"{{action "join"}}>Join</button>
  {{/unless}}

  <div class="pull-right">          
    {{#linkTo "competition.edit" this class="btn btn-info"}}Edit{{/linkTo}}
    <a href="#" class="btn btn-danger" {{action delete this}}>Delete</a>
  </div>
{{else}}
  {{#linkTo "activities" controllers.application.currentUser class="btn btn-success"}}Log Activity{{/linkTo}}
{{/unless}}

<div class="row">
  <div class="col-md-4">
    <h4>Information</h4>
    <p>Start Date: {{date startDate}}</p>
    <p>End Date: {{date endDate}}</p>
    <p>Max Participants: {{maxParticipants}}</p>
    <p>Public: {{isPublic}}</p>
    <p>Active: {{active}}</p>
    <p>Reward: {{reward}}</p>
    <br />
  </div>

  <div class="col-md-4">
    <h4>Exercises</h4>
    <ul>
    {{#each controller.exercises}}
      <li>{{name}}</li>
    {{/each}}
    </ul>
  </div>

  <div class="col-md-4">
    <h4>Users</h4>
    <ul>
    {{#each controller.users}}
      <li>{{email}}</li>
    {{else}}
      <li>None currently registered</li>
    {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <h3>{{name}} Ranking</h3>
  {{#each controller.competitionJoins}}  
    <hr>
    <h4>Rank: {{rank}}</h4>
    <h5>User: {{this.user.email}}</h5>
    <h5>Total Experience: {{totalExperience}}</h5>          
  {{/each}}
</div>

