<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Custom Exercise Details</h3>
  </div>
  <div class="panel-body">        
    <a href="#" class="btn btn-danger pull-right" {{action "delete" this}}>Delete</a>
    
    <h2>{{this.exercise.name}}</h2>
    <p><strong>Creator:</strong> {{this.user.handle}}</p>
    <p><strong>Description:</strong> {{this.description}}</p>
    <p><strong>Measurement:</strong> {{this.metric.name}}</p>
    <p><strong>Experience Multiplier:</strong> {{this.experienceMultiplier}}</p>
    <p><strong>Created At:</strong> {{date this.createdAt}}</p>
  </div>
</div>