<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Exercise Details</h3>
  </div>
  <div class="panel-body">            
    <h2>{{name}}</h2>
    <p><strong>Description:</strong> {{description}}</p>
    <p><strong>Metrics</strong></p>
    {{#each metrics}}
      <p>{{this.name}}</p>
    {{/each}}
    <p><strong>Measurement:</strong> {{metric.name}}</p>
    <p><strong>Experience Multiplier:</strong> {{experienceMultiplier}}</p>
  </div>
</div>