<h1>Dashboard</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="well">
      <h3 {{bind-attr class="selectedExercise:text-info"}}>{{title}}</h3>
    </div>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Current Rank</th>
        <th>Score</th>
      </tr>
      {{#each currentCompJoins}}
        <tr>
          <td>{{#link-to "competition" this}}{{this.competition.name}}{{/link-to}}</td>
          <td>{{this.rank}}</td>
          <td>{{this.total}}</td>
        </tr>
      {{else}}
        {{#if selectedExercise}}
        <tr>
          <td colspan="3">
            <p class="lead text-warning text-center">You are not currently in any competitions that include {{selectedExercise.name}}. Would you like to</p>
            <a href="#" class="btn btn-success center-block" {{action "createCompetiton" selectedExercise}}> Create a new one ?</a> 
            <p class="text-center">- OR -</p> 
            <a href="#" class="btn btn-primary center-block" {{action "createCompetiton" selectedExercise}}>join an existing one ?</a>
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="3">Competitions not currently available. Either you aren't in any, or they haven't loaded yet.</p></td>
        </tr>
        {{/if}}
      {{/each}}
    </table>
  </div>

  <div class="col-md-8">
    <div class="well">
      <h3>Recent Site Activity</h3>
    </div>
    {{render "recentActivity" recentActivity}}
  </div>
</div>
{{currentUser.competitionJoins}}