<h1>Dashboard</h1>
<hr>
<h3>My Competitions</h3>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Current Rank</th>
    <th>Score</th>
  </tr>
  {{#each currentUser.competitionJoins}}
    <tr>
      <td>{{#link-to "competition" this}}{{this.competition.name}}{{/link-to}}</td>
      <td>{{this.rank}}</td>
      <td>{{this.total}}</td>
    </tr>
  {{else}}
    <tr>
      <td>{{this.competition.name}}</td>
      <td>{{this.rank}}</td>
      <td>{{this.total}}</td>
    </tr>
  {{/each}}
</table>
