<div class="modal-header">
  <button type="button" class="close" {{action "close" target="view"}}>&times;</button>
  <h3>Log Activity</h3>
</div>
{{#form-for model wrapper="bootstrap"}}
  {{view WorkoutWars.ModalFlashView model=WorkoutWars.modalFlash}}
  <div class="modal-body">
    {{view Ember.Select content=exercises name="Exercise Select" value=selectedExercise optionValuePath="content" optionLabelPath='content.name' class="form-control" prompt="Please select an exercise"}}
    {{#if selectedExercise}}
      {{input value placeholder=selectedExercise.metric.measurement}}
    {{/if}}
  </div>
  <div class="modal-footer">
    {{submit class="btn btn-primary"}}
  </div>
{{/form-for}} 
<a href="#" class="btn" name="Close" {{action "close" target="view"}}>Close</a>





