<div class="modal-header">
  <button type="button" class="close" {{action "close" target="view"}}>&times;</button>
  <h3>Log Activity</h3>
</div>
{{#form-for model wrapper="bootstrap"}}
  {{view WorkoutWars.ModalFlashView model=WorkoutWars.modalFlash}}
  <div class="modal-body">
    {{view Ember.Select content=alphabeticalExercises name="Exercise Select" value=model.exercise optionValuePath="content" optionLabelPath='content.name' class="form-control" prompt="Please select an exercise"}}
    {{#if model.exercise}}
      {{input value placeholder=model.exercise.metric.measurement}}
    {{/if}}
  </div>
  <div class="modal-footer">
    {{#if isSaving}}
      <a href="#" class="btn" name="Close" disabled>Saving...</a>
    {{else}}
      {{submit "Log it!" id="logActivity" class="btn btn-primary"}}
    {{/if}}
  </div>
{{/form-for}} 
<a href="#" class="btn" name="Close" {{action "close" target="view"}}>Close</a>
{{controller}}


