<h1>Users</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="list-group">
        {{#each user in controller}}          
          {{#link-to "user" user class="list-group-item"}}
            <div class="row">
              <div class="col-sm-3">{{gravatarUrlSmall user}}</div>
              <div class="col-sm-4">{{user.handle}}</div>          
              <div class="col-sm-2"><span class="badge">{{user.level}}</span></div>               
              <div class="col-sm-3"><span class="badge">{{user.experience}}</span></div>
            </div>
          {{/link-to}}        
        {{/each}}
      </div>
    </div>
    <hr class="featurette-divider">
  </div>

  <div class="col-md-8">
    {{outlet}}
  </div>
</div>


