<div class="row">
  <div class="col-md-8">
    <ul class="nav nav-pills nav-justified">
      <li>{{#link-to "activities"}}Activities{{/link-to}}</li>
      <li>{{#link-to "user.competitions"}}Competitions{{/link-to}}</li>
      <li>{{#link-to "user.challenges"}}Challenges{{/link-to}}</li>
      {{#if isCurrentUser}}
      <li>{{#link-to "user.edit"}}Settings{{/link-to}}</li>
      {{/if}}
    </ul>

    {{outlet}}
  </div>

  <div class="col-md-4">
    {{#if name}}
      <h1>{{name}}</h1>
      <hr>
      <p>Email: {{email}}</p>
    {{else}}
      <h1>{{email}}</h1>
      <hr>
    {{/if}}

    {{#if nickname}}
      <p>Nickname: {{nickname}}</p>
    {{/if}}

    {{#if age}}
      <p>Age: {{age}}</p>
    {{/if}}

    {{#if height}}
      <p>Height: {{height}}</p>
    {{/if}}

    {{#if weight}}
      <p>Weight: {{weight}}</p>
    {{/if}}

    {{#if level}}
      <p>Level: {{level}}</p>
    {{/if}}

    {{#if experience}}
      <p>Experience: {{experience}}</p>
    {{/if}}

    {{#if nextLevelExperience}}
      <p>Experience to next level: {{nextLevelExperience}}</p>
    {{/if}}
  </div>