<div class="modal-header">
  <button type="button" class="close" {{action "close" target="view"}}>&times;</button>
  <button type="button" class="btn btn-danger" {{action "deleteUserExercise" model}}>Delete</button>
</div>

<div class="modal-body">        
  <h2>{{exercise.name}}</h2>
  <p><strong>Date:</strong> {{shortDateTime model.createdAt}}</p>
  <p><strong>Value:</strong> {{model.value}} {{exercise.metric.measurement}}</p>
  <p><strong>Measurement:</strong> {{exercise.metric.name}}</p>
  <p><strong>Experience Multiplier:</strong> {{exercise.experienceMultiplier}}</p>

  <hr>

  <h4>This exercise counted for these competitions</h4>
  <ul>
    {{#each model.competitionUserExercises}}
      <li>{{this.competition.name}}</li>
    {{else}}
      <li>None</li>
    {{/each}}
  </ul>
</div>

<div class="modal-footer">
  <a href="#" class="btn btn-default" name="Close" {{action "close" target="view"}}>Close</a>
</div>