{{#if name}}
  <h1>{{name}}</h1>
  <hr>
  <p>Email: {{email}}</p>
{{else}}
  <h1>{{email}}</h1>
  <hr>
{{/if}}

{{#if nickname}}
  <p>Nickname: {{nickname}}</p>
{{/if}}

<hr>

<ul class="nav nav-tabs">
  <li>{{#linkTo "activities"}}Activities{{/linkTo}}</li>
  <li>{{#linkTo "user.competitions"}}Competitions{{/linkTo}}</li>
  <li>{{#linkTo "user.teamCompetitions"}}Team Competitions{{/linkTo}}</li>
  <li>{{#linkTo "user.challenges"}}Challenges{{/linkTo}}</li>
  <li>{{#linkTo "user.teamChallenges"}}Team Challenges{{/linkTo}}</li>
  {{#if isCurrentUser}}
  <li>{{#linkTo "user.edit"}}Settings{{/linkTo}}</li>
  {{/if}}
</ul>

{{outlet}}

