<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{handle}}</h3>
  </div>
  <div class="panel-body">
    {{#if nickname}}
      <p>Nickname: {{nickname}}</p>
    {{/if}}

    {{#if height}}
      <p>Height: {{height}}</p>
    {{/if}}

    {{#if weight}}
      <p>Weight: {{weight}}</p>
    {{/if}}

    {{#if level}}
      <p>Level: {{level}}</p>
    {{/if}}

    {{#if experience}}
      <p>Experience: {{experience}}</p>
    {{/if}}

    {{#if nextLevelExperience}}
      <p>Experience to next level: {{nextLevelExperience}}</p>
    {{/if}}

    {{view WorkoutWars.UserStatView}}
  </div>
</div>