<div class="modal-header">
  <button type="button" class="close" {{action "close" target="view"}}>&times;</button>
  <h3>Exercise</h3>
</div>
{{controller}}
{{model}}
{{test}}
<div class="modal-body">        
  <h2>{{model.name}}</h2>
  <p><strong>Description:</strong> {{description}}</p>
  <p><strong>Measurement:</strong> {{metric.name}}</p>
  <p><strong>Experience Multiplier:</strong> {{experienceMultiplier}}</p>
</div>

<div class="modal-footer">
  {{#if isSaving}}
    <a href="#" class="btn" name="Close" disabled>Saving...</a>
  {{else}}
    {{submit "Log it!" id="logActivity" class="btn btn-primary"}}
  {{/if}}
</div>

<a href="#" class="btn" name="Close" {{action "close" target="view"}}>Close</a>