<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title pull-left">Activities</h1>
    {{#link-to 'profile.activities.create' class="pull-right btn btn-success"}}
      <i class="fa fa-plus">New Activity</i>    
    {{/link-to}}
    <div class="clearfix"></div>
  </div>
  {{outlet}}
  <div id="recent_activity">
    <p class="lead text-center">{{date startDate}} - {{date endDate}}</p>
    <ul class="pager">
      <li><a href="#" {{action "prevWeek"}}>Previous</a></li>
      <li><a href="#" {{action "nextWeek"}}>Next</a></li>
    </ul>
    <table class="table table-bordered table-striped">
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <tr>
        <td>
          {{basic-list collection=sundayActivities}}
        </td>
        <td>{{basic-list collection=mondayActivities}}</td>
        <td>{{basic-list collection=tuesdayActivities}}</td>
        <td>{{basic-list collection=wednesdayActivities}}</td>
        <td>{{basic-list collection=thursdayActivities}}</td>
        <td>{{basic-list collection=fridayActivities}}</td>
        <td>{{basic-list collection=saturdayActivities}}</td>
      </tr>
    </table>
  </div>
</div>


