<div class="row">
  <div {{bind-attr class="inChild:col-md-8:col-md-12"}}>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <h1 class="panel-title pull-left">Activities</h1>
          </div>
          <div class="col-md-3">
            {{#link-to 'profile.activities.create' class="btn btn-sm btn-block btn-success"}}
              <i class="fa fa-plus">New Activity</i>    
            {{/link-to}}
          </div>
        </div>
      </div>
      <p class="text-center"><strong>{{date startDate}} - {{date endDate}}</strong></p>
      <ul class="pager">
        <li><a href="#" {{action "prevWeek"}}>Previous</a></li>
        <li><a href="#" {{action "nextWeek"}}>Next</a></li>
      </ul>
      <table id="activity-calendar" class="table table-bordered table-striped">
        <tr>
          {{#each tableTitles}}
            <th>{{this}}</th>
          {{/each}}
        </tr>
        <tr>
          {{#each activitiesByDay}}
            <td>{{basic-list collection=this}}</td>
          {{/each}}
        </tr>
      </table>
    </div>
  </div>

  <div {{bind-attr class="inChild:col-md-4:"}}>
    <div class="activity-fixed-vertical">
      {{outlet}}
    </div>
  </div>
</div>



