<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Profile</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group">
        <label class= "col-sm-2 control-label">Nickname</label>
        <div class="col-sm-10">
          {{input name="Nickname" value=nickname classNames="form-control"}}
        </div>
      </div>
    </div> 

    <br />

    <div class="row">
      <div class="form-group">
        <label class= "col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          {{input name="Name" value=name classNames="form-control"}}
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="form-group">
        <label class= "col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          {{input name="Email" value=email classNames="form-control"}}
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="form-group">
        <label class= "col-sm-2 control-label">Age</label>
        <div class="col-sm-10">
          {{input name="Age" value=age classNames="form-control"}}
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="form-group">
        <label class= "col-sm-2 control-label">Height</label>
        <div class="col-sm-10">
          {{input name="Height" value=height classNames="form-control"}}
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="form-group">
        <label class= "col-sm-2 control-label">Weight</label>
        <div class="col-sm-10">
          {{input name="Weight" value=weight classNames="form-control"}}
        </div>
      </div>
    </div>

    <br />

    {{#if userNotifications}}
      <h4>Notifications</h4>
      <table class="table">
        <tr>
          <th>Notification Type</th>
          <th>Active?</th>
          <th>Time Period <br> (Hours)</th>
          <th>Edit</th>
          <th></th>
        </tr>
        {{#each userNotifications itemController="userNotification"}}
        <tr> 
          <td>{{this.name}}</td>
          <td>{{input type="checkbox" checked=active}}</td>
          <td>{{this.timePeriod}}</td>
          <td>
            {{#if useTimePeriod}}
              <a href="#" class="btn btn-default" {{action "edit"}}>Edit Time Period</a>
            {{/if}}
          </td>
          <td>                   
            {{#if isEditing}}
            {{#form-for this wrapper="bootstrap"}}
              {{input timePeriod}}
              {{submit class="btn btn-primary"}}
            {{/form-for}}
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </table>
    {{/if}}
    
    <div class="row">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input {{action "saveUser"}} type="submit" class="btn btn-lg btn-block btn-success" value="Submit" />
        </div>
      </div>
    </div>
  </div>
</div>